[submodule ".registry"]
	path = .registry
	url = https://github.com/geocompx/universe
	shallow = true
	branch = HEAD
[submodule "geocompkg"]
	path = geocompkg
	url = https://github.com/geocompx/geocompkg
	shallow = true
	registered = true
[submodule "CoxBoost"]
	path = CoxBoost
	url = https://github.com/binderh/CoxBoost
	shallow = true
	registered = false
[submodule "catboost"]
	path = catboost
	url = https://github.com/catboost/catboost
	shallow = true
	subdir = catboost/R-package
	registered = false
[submodule "distr6"]
	path = distr6
	url = https://github.com/alan-turing-institute/distr6
	shallow = true
	registered = false
[submodule "mlr3extralearners"]
	path = mlr3extralearners
	url = https://github.com/mlr-org/mlr3extralearners
	shallow = true
	registered = false
[submodule "mlr3proba"]
	path = mlr3proba
	url = https://github.com/mlr-org/mlr3proba
	shallow = true
	registered = false
[submodule "param6"]
	path = param6
	url = https://github.com/xoopR/param6
	shallow = true
	registered = false
[submodule "qgisprocess"]
	path = qgisprocess
	url = https://github.com/r-spatial/qgisprocess
	shallow = true
	registered = false
[submodule "set6"]
	path = set6
	url = https://github.com/xoopR/set6
	shallow = true
	registered = false
[submodule "spDataLarge"]
	path = spDataLarge
	url = https://github.com/Nowosad/spDataLarge
	shallow = true
	registered = false
[submodule "survivalmodels"]
	path = survivalmodels
	url = https://github.com/RaphaelS1/survivalmodels
	shallow = true
	registered = false
