[submodule ".registry"]
	path = .registry
	url = https://github.com/geocompx/geocompx.r-universe.dev
	branch = HEAD
[submodule "CoxBoost"]
	path = CoxBoost
	url = https://github.com/binderh/CoxBoost
	registered = false
[submodule "aorsf"]
	path = aorsf
	url = https://github.com/ropensci/aorsf
	registered = false
[submodule "catboost"]
	path = catboost
	url = https://github.com/catboost/catboost
	subdir = catboost/R-package
	registered = false
[submodule "distr6"]
	path = distr6
	url = https://github.com/xoopR/distr6
	registered = false
[submodule "geocompkg"]
	path = geocompkg
	url = https://github.com/geocompx/geocompkg
[submodule "mlr3"]
	path = mlr3
	url = https://github.com/mlr-org/mlr3
	registered = false
[submodule "mlr3extralearners"]
	path = mlr3extralearners
	url = https://github.com/mlr-org/mlr3extralearners
	branch = v0.9.0
	registered = false
[submodule "mlr3proba"]
	path = mlr3proba
	url = https://github.com/mlr-org/mlr3proba
	registered = false
[submodule "param6"]
	path = param6
	url = https://github.com/xoopR/param6
	registered = false
[submodule "randomPlantedForest"]
	path = randomPlantedForest
	url = https://github.com/PlantedML/randomPlantedForest
	registered = false
[submodule "set6"]
	path = set6
	url = https://github.com/xoopR/set6
	registered = false
[submodule "spDataLarge"]
	path = spDataLarge
	url = https://github.com/nowosad/spDataLarge
	registered = false
[submodule "survivalmodels"]
	path = survivalmodels
	url = https://github.com/RaphaelS1/survivalmodels
	registered = false
[submodule "tmap"]
	path = tmap
	url = https://github.com/r-tmap/tmap
	registered = false
